In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [11]:
race_count = df['race'].value_counts()

In [12]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [13]:
type(race_count)

pandas.core.series.Series

### What is the average age of men?

In [20]:
age_men = df[df['sex']=='Male']['age']
age_men

0        39
1        50
2        38
3        53
7        52
         ..
32553    32
32554    53
32555    22
32557    40
32559    22
Name: age, Length: 21790, dtype: int64

In [22]:
average_age_men = age_men.mean()

In [151]:
round(average_age_men, 1)

39.4

### What is the percentage of people who have a Bachelor's degree?

In [25]:
df.shape

(32561, 15)

In [28]:
bachelors = df[df['education'] == 'Bachelors']
bachelors.shape

(5355, 15)

In [29]:
bachelor_percent = (df[df['education'] == 'Bachelors'].shape[0] / df.shape[0]) * 100
bachelor_percent

16.44605509658794

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K? 
### What percentage of people without advanced education make more than 50K?
### with and without `Bachelors`, `Masters`, or `Doctorate`

In [45]:
higer_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higer_education.shape

(7491, 15)

In [46]:
higer_education_p = (df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0] / df.shape[0]) * 100
higer_education_p

23.006050182733944

In [51]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education.shape

(25070, 15)

In [52]:
(df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0] / df.shape[0]) * 100

76.99394981726606

In [154]:
higer_education_rich = df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')]
higer_education_rich

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [158]:
round((df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')].shape[0] / df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0]) * 100, 1)

46.5

In [152]:
lower_education_rich = (df[(~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')].shape[0] / df.shape[0]) * 100
print(lower_education_rich)

13.374896348392248

### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [57]:
df[df['hours-per-week'] == df['hours-per-week'].min()]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [61]:
num_min_workers = df[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]
num_min_workers

20

In [65]:
(df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].shape[0] / df.shape[0]) * 100

0.006142317496391388

###  What country has the highest percentage of people that earn >50K?

In [102]:
highest_erning_country = df[df['salary'] == '>50K'].groupby('native-country')['native-country']
highest_erning_country.count().index[highest_erning_country.count().argmax()]

'United-States'

In [103]:
df[df['salary'] == '>50K'].groupby('native-country')['native-country'].count().index[highest_erning_country.count().argmax()]

'United-States'

In [106]:
df[df['salary'] == '>50K'].groupby('native-country')['native-country'].count().max() / df.shape[0] * 100

22.023279383311323

In [141]:
highest_erning_country = df.groupby(['native-country', 'salary'])['salary']
highest_erning_country_p = ((highest_erning_country.count() / highest_erning_country.count().groupby(level=[0]).sum())) * 100
highest_erning_country_p.unstack()['>50K'].max()

41.86046511627907

In [ ]:
(((df.groupby(['native-country', 'salary'])['salary'].count() / df.groupby(['native-country', 'salary'])['salary'].count().groupby(level=[0]).sum())) * 100).unstack().index[]

### Identify the most popular occupation for those who earn >50K in India.

In [150]:
df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().index[df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().argmax()]

'Prof-specialty'